<div id="garden-2">

<h1 id="heading-2">Rules</h1>

<h1 id="sub_heading-2">Become the most beloved cat in Mewtropolis!<br>Roam around the four neighborhoods and rub ankles with the various households.<br>Make sure you end each day with a full stomach, or you'll lose a life.</h1>