<h2>That was a full day! Congrats on toughing it out another day on the mean streets of Meowtropolis.</h2> 

<%= render "current_stats" %>

<h3><%= button_to "New Day", '/new_day', :method => :get, class: "genericButton" %></h3>
<h3><%= button_to "Home Screen", '/home', :method => :get, class: "genericButton" %></h3>