<div id="garden-2">

<div id="heading-3">
<% if @food == 0 %>
No luck :( You're still hungry.

<% elsif @food == 1 %>
You found a little food! Tough pickings out here, though.
<% end %>
</div>

<div id="travel_button">
<% if session[:neighborhood] %>
    <h3><%= button_to "Return", neighborhood_path(session[:neighborhood]["id"]), :method => :get, class: "genericButton" %></h3>
<% else %>
    <h3><%= button_to "Return", '/neighborhoods', :method => :get, class: "genericButton" %></h3>
<% end %>
</div>
</div>