<div id="garden-2">

<div id="heading-3">
<% if @food == 0 %>
<h2 id="heading-2">No luck :( You're still hungry.</h2>


<img src="https://image.freepik.com/free-vector/cat-rat-rooftop_1308-18621.jpg" alt="a cat on a rooftop catching a rat under its paw">
<% elsif @food == 1 %>
<h2 id="heading-2">You found a little food! Tough pickings out here, though.</h2>
<img src="https://cdn.pixabay.com/photo/2013/07/13/13/42/cat-161402__480.png" alt="a cat looking at bare fish bones">
<% end %>
</div>

<div id="travel_button">
<% if session[:neighborhood] %>
    <h3><%= button_to "Return", neighborhood_path(session[:neighborhood]["id"]), :method => :get, class: "genericButton" %></h3>
<% else %>
    <h3><%= button_to "Return", '/neighborhoods', :method => :get, class: "genericButton" %></h3>
<% end %>
</div>
</div>