<div id="garden">

<h1 id="heading">Meowtropolis</h1>

<h2 id="sub_heading">Neighborhoods</h2>


<% @count = 1 %>
<% @neighborhoods.each do |n| %>
    <div id="neighborhood-<%=@count%>">
    <h3><%= button_to n.name, neighborhood_path(n), :method => :get, class: "genericButton" %></h3>
    <p><%= n.description %></p>
    </div>
    <% @count += 1 %>
<% end %>
</div>
