/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* neighborhood grid */
 #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    height: 600px;
    margin: 15px;
 }
/* home screen */
 #garden-2 {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    height: 600px;
    margin: 15px;
 }
/* title / login/ signup */
 #garden-3 {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 20% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 40%;
    height: 600px;
    margin: 15px;
 }

 #heading {
    color: blue;
    text-align: center;
    grid-column-start: 3;
 }

 #sub_heading{
    grid-column-start: 3;
    grid-row-start: 2;
    text-align: center;
 }

 #heading-2 {
    color: blue;
    text-align: center;
    grid-column-start: 2;
 }

 #heading-3 {
    text-align: center;
    grid-column-start: 2;
 }

 #sub_heading-2{
    grid-column-start: 2;
    grid-row-start: 2;
    text-align: center;
 }

 #neighborhood-1 {
     
     grid-column-start: 1;
     grid-row-start: 4;
     text-align: center;
 }

 #neighborhood-2 {
     grid-column-start: 5;
     grid-row-start: 4;
     text-align: center;
}

#neighborhood-3 {
    grid-column-start: 1;
    grid-row-start: 8;
    text-align: center;
}

#neighborhood-4 {
    grid-column-start: 5;
    grid-row-start: 8;
    text-align: center;
}

#travel_button {
    grid-column-start: 2;
    grid-row-start: 10;
    text-align: center;
}

#cred {
    grid-column-start: 2;
    grid-row-start: 3;
    text-align: center;
}

#family-1 {
    grid-column-start: 1;
    grid-row-start: 5;
    text-align: center;
}

#family-2 {
    grid-column-start: 3;
    grid-row-start: 5;
    text-align: center;
}

#family-3 {
   grid-column-start: 1;
   grid-row-start: 8;
   text-align: center;
}

#family-4 {
   grid-column-start: 3;
   grid-row-start: 8;
   text-align: center;
}

#new_form {
    grid-column-start: 5;
    grid-row-start: 7;
    text-align: center;
}

#title{
    grid-column-start: 5;
    text-align: center;
}

#catpic{
    grid-column-start: 5;
    grid-row-start: 4;
    text-align: center;
    height: auto;
    max-width: 100%;
    align-self: center;
    margin: 0 auto;
}
  
#mycat{
    grid-column-start: 0;
    /* grid-row-start: 4; */
    /* text-align: center; */
    height: auto;
    max-width: 100%;
    /* align-self: center; */
    margin: 0 auto;
}

#flash{
    color: red;
    grid-column-start: 7;
    grid-row-start: 7;
    text-align: center;
}


#home_page{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    justify-content: space-between;
    padding-top: 25%; 
    padding-bottom: 25%;
}

.home_menu{
    text-align: center;
    flex-direction: column;
    max-width: 20%;
    top: 50%;
    
    
}

#left_menu{
    grid-column-start: 1;
    /* justify-content: flex-start; */

}

#right_menu{
    grid-column-start: 3;
    /* justify-content: flex-end; */

}   

#central_button{
    grid-column-start: 2;
    grid-row-start: 6;
    text-align: center;
}

div.play_button input {
    background:url("https://cdn.pixabay.com/photo/2016/04/07/18/57/silhouette-1314467_1280.png") no-repeat;
    cursor: pointer;
    width: auto;
    height: 20%;
    padding: 100px;
    border: none;
    background-size: cover;
    background-position: center;
    justify-content: center;
    grid-column-start: 2;
    grid-row-start: 6;
}

.play_button{
    grid-column-start: 2;
    grid-row-start: 4;
    text-align: center;
    width: 60%;
    top: 50%;

}


/* generic button */
.genericButton {
	-moz-box-shadow: 0px 10px 14px -7px #3e7327;
	-webkit-box-shadow: 0px 10px 14px -7px #3e7327;
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
	background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
	background-color:#77b55a;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}

/* Warning Button */

.warningButton {
    -moz-box-shadow: 0px 10px 14px -7px #f29c93;
	-webkit-box-shadow: 0px 10px 14px -7px #f29c93;
	box-shadow: 0px 10px 14px -7px #f29c93;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d61500), color-stop(1, #ce0100));
	background:-moz-linear-gradient(top, #d61500 5%, #ce0100 100%);
	background:-webkit-linear-gradient(top, #d61500 5%, #ce0100 100%);
	background:-o-linear-gradient(top, #d61500 5%, #ce0100 100%);
	background:-ms-linear-gradient(top, #d61500 5%, #ce0100 100%);
	background:linear-gradient(to bottom, #d61500 5%, #ce0100 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d61500', endColorstr='#ce0100',GradientType=0);
	background-color:#d61500;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
