/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    height: 600px;
    margin: 15px;
 }

 #garden-2 {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    height: 600px;
    margin: 15px;
 }

 #garden-3 {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 20% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    height: 600px;
    margin: 15px;
 }

 #heading {
    color: blue;
    text-align: center;
    grid-column-start: 3;
 }

 #sub_heading{
    grid-column-start: 3;
    grid-row-start: 2;
    text-align: center;
 }

 #heading-2 {
    color: blue;
    text-align: center;
    grid-column-start: 2;
 }

 #sub_heading-2{
    grid-column-start: 2;
    grid-row-start: 2;
    text-align: center;
 }

 #neighborhood-1 {
     
     grid-column-start: 1;
     grid-row-start: 4;
     text-align: center;
 }

 #neighborhood-2 {
     grid-column-start: 5;
     grid-row-start: 4;
     text-align: center;
}

#neighborhood-3 {
    grid-column-start: 1;
    grid-row-start: 8;
    text-align: center;
}

#neighborhood-4 {
    grid-column-start: 5;
    grid-row-start: 8;
    text-align: center;
}

#travel_button {
    grid-column-start: 2;
    grid-row-start: 10;
    text-align: center;
}

#cred {
    grid-column-start: 2;
    grid-row-start: 3;
    text-align: center;
}

#family-1 {
    grid-column-start: 1;
    grid-row-start: 5;
    text-align: center;
}

#family-2 {
    grid-column-start: 3;
    grid-row-start: 5;
    text-align: center;
}

#family-3 {
   grid-column-start: 1;
   grid-row-start: 8;
   text-align: center;
}

#family-4 {
   grid-column-start: 3;
   grid-row-start: 8;
   text-align: center;
}

#new_form {
    grid-column-start: 5;
    grid-row-start: 7;
    text-align: center;
}

#title{
    grid-column-start: 5;
    text-align: center;
}

#catpic{
    grid-column-start: 4;
    grid-row-start: 4;
    text-align: center;
    height: auto;
    max-width: 400%;
    align-self: center;
}

#flash{
    color: red;
    grid-column-start: 7;
    grid-row-start: 7;
    text-align: center;
}

#left_menu{
    grid-column-start: 1;
    grid-row-start: 5;
    text-align: center;
}

#right_menu{
    grid-column-start: 3;
    grid-row-start: 5;
    text-align: center;
}

#play_button{
    grid-column-start: 2;
    grid-row-start: 6;
    text-align: center;
}