<div id="garden-3">

<h1 id="title"><%= @cat.name %></h1>
<img src=<%=@cat.img_url%> id="catpic" alt='A picture of the user's cat'>

<div id="new_form">
<%= render "current_stats" %>
</div>

</div>



 