<!DOCTYPE HTML>
<html>
<head>Top Cat</head>
<body>

    <img src=## alt='A picture of a happy cat'>
    <h1>Top Cat</h1>
    <% form_tag 'path goes here', method: put, do %>
        <%= label_tag :username %>
        <%= text_field_tag :username %>

        <%= submit_tag 'Log In'%>
        
        <%= submit_tag 'Sign Up'%>
    <% end %>
</body>


</html>